/* Root Variables */
:root {
  --background-color: #FEFEFE;
  --primary-color: #88B75B;
  --secondary-color: #F4BB14;
  --accent-color: #174488;
  --text-color: #333333;
  --heading-font: 'Lato', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Header */
header {
  background-color: var(--primary-color);
  padding: 10px 20px;
  text-align: center;
}

header img {
  display: inline-block;
  margin: 0 auto;
}

nav {
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: var(--background-color);
  font-weight: bold;
  margin: 0 10px;
  display: inline-block;
}

nav a:hover {
  color: var(--secondary-color);
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  color: var(--background-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 10%;
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--secondary-color);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Main Sections */
main section {
  margin: 20px auto;
  padding: 15px;
  max-width: 80%;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 20px gray;
  position:static;
}
.map {
  width: 100%; 
  height: auto; 
}
main section h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 15px;
}

main section p {
  text-align: justify;
  margin: 10px 0;
}

/* Trip Summary Section */
main section#trip-summary ul {
  list-style-type: disc;
  padding-left: 20px;
}

main section#trip-summary ul li {
  margin: 5px 0;
  font-weight: 500;
  color: var(--text-color);
}

/* Footer */
footer {
  background-color: var(--accent-color);
  color: var(--background-color);
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  clear: both;
  position: relative;
}

footer p {
  margin: 0 0 10px;
}

footer nav.sociallinks img {
  width: 40px;
  margin: 0 10px;
}

footer nav.sociallinks a:hover {
  opacity: 0.8;
}
